node_modules/
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# database
prisma/*.db
prisma/prisma/
prisma/*.db-journal

# uploads (user content)
public/uploads/*
!public/uploads/.gitkeep

.env
.env.local
.DS_Store
